.gradle
.vscode
.idea
*/bin
*/build
assign01/src/main/java/edu/realemj/assign01/Greetings.java
assign02/src/main/java/edu/realemj/assign02/*
assign03/src/main/java/edu/realemj/assign03/*
assign04/src/main/java/edu/realemj/assign04/*
!assign04/src/main/java/edu/realemj/assign04/DraftingTable.java
assign05/src/main/java/edu/realemj/assign05/*
!assign05/src/main/java/edu/realemj/assign05/Silmarillion.java
